@import '@ui/styles/globals.css';

body {
  @apply font-paperlogy;
  background: linear-gradient(150deg, #201a3a, #20217c) fixed;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@layer utilities {
  .page {
    @apply p-6 max-md:min-h-dvh md:min-h-[calc(100dvh-3.5rem)];
  }
}
